<!DOCTYPE html>
<html>
<head>
	<title>Users New</title>
</head>
<body>
<h1>Edit User {{user.id}}</h1>
<form action='update' method='post'>
		{% csrf_token %}
 First name: <input type='text' name='first_name' value={{user.first_name}}>
 Last name: <input type='text' name='last_name' value={{user.last_name}}>
 Email: <input type='text' name='email' value={{user.email}}>
 <button>Update</button>
</form>
<a href = "/users/{{user.id}}">Show</a> | <a href = "{% url 'users' %}">Go Back</a>
</body>
</html>